@import '@fontsource/stack-sans-notch';
/* @import '@fontsource/stack-sans-text'; */
@import '@fontsource/stack-sans-text/300.css';
@import '@fontsource/stack-sans-text/400.css';

* {
    box-sizing: border-box;
}

html {
    background-color: #f8fdef;
    font-family: 'Stack Sans Text', system-ui, sans-serif;
    font-weight: 300;
    font-synthesis: none;
    font-size: 18px;
}


body {
    margin: 0;
    /* padding: .5rem 2rem; */
    padding: 0;
    color: #172203;
}

/*** HEADER ***/
header {
    text-align: center;
    line-height: 1;
}

header a {
    color: black;
    text-decoration: none;
}

h1 {
    margin: 0;
    margin-top: 1rem;
    font-size: 2.8rem;
    font-family: 'Stack Sans Notch', system-ui, sans-serif;
}

/* .first-name{
        font-size: 3rem;
    } */

.last-name {
    display: block;
}

/***  ***/
.page-container {
    padding: 0px 24px;
}

/*** BUTTON LINKS ***/

.nav-links {
    margin: 2rem;
}

.nav-links a {
    --shadow: 5px;
    display: inline-block;
    border: 2.5px solid #172203;
    box-shadow: var(--shadow) var(--shadow) 0 #172203;
    padding: var(--shadow) 20px;
    margin: 0px 10px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.nav-links a:hover {
    transform: translate(3px, 3px);
    box-shadow: 2px 2px 0 #172203;
}

/* @media screen and (max-width: 636px) { */

/* .social-links,
    .menu {
        display: none;
    } */

.text-card {
    --shadow: 12px;
    border: 6px solid #172203;
    box-shadow: var(--shadow) var(--shadow) 0 #172203;
    padding: 1.2rem;
    margin: 1rem 3rem calc(1rem + var(--shadow)) 3rem;
    transition: transform 0.3s, box-shadow 0.3s;
}

.text-card:hover {
    transform: translate(5px, 5px);
    box-shadow: 7px 7px 0 #172203;
}

@media screen and (max-width: 636px) {
    .gallery {
        columns: 3 200px;
        column-gap: 1.1rem;
    }

    .card img {
        width: 100%;
        height: auto;
    }
}