@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@200..700&family=Stack+Sans+Notch:wght@200..700&family=Stack+Sans+Text:wght@200..700&display=swap');

:root {
    /* --nav-width: 220px; */

    --light: #f8fdef;

    /* green black */
    /* --dark: #172203; */
    --nav-accent: #33FFFF;
    /* --nav-accent: #35FF69; */

    --dark: #252627;
    /* --dark: #2D2D2A; */
    /* yellow */
    /* --nav-accent: #FFBA08;  */
    /* purple */
    /* --nav-accent: #E2A0FF; */
    /* --nav-accent: #998DA0; */
    /* --nav-accent: #AA78A6; */
    /* red */
    /* --nav-accent: #F55D3E; */
    /* green dark */
    /* --nav-accent: #6B8F71; */
    /* grey blue */
    /* --nav-accent: #7389AE; */
    /* green bright */
    /* --nav-accent: #3BC14A; */
    /* orange */
    /* --nav-accent: #FF8552; */
    /* --nav-accent: #F05D23; */
    /* birght blue */
    /* --nav-accent: #42CAFD; */


    /* --dark: #2E1F27; */
    /* --nav-accent: #688E26; */
    --break: 900px;

}

* {
    box-sizing: border-box;
}

html {
    background-color: var(--dark);
    font-family: 'Stack Sans Text', system-ui, sans-serif;
    font-weight: 300;
    font-size: 18px;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--light);
    color: var(--dark);
}

/* TEXT */

h1 {
    font-size: 2.5rem;
    letter-spacing: -0.04em;
    font-family: 'Stack Sans Notch', system-ui, sans-serif;
}

h2,
b {
    font-family: "Stack Sans Notch", sans-serif;
    font-weight: 500;
}

h3 {
    font-family: "Stack Sans Headline", sans-serif;
    font-weight: 400;
}

/*** link colors ***/
main a {
    color: var(--dark);
    text-decoration: underline;
    text-underline-offset: 2px;

}
.brand a, 
nav a,
footer a {
    color: var(--light);
    text-decoration: none;
    transition: color 0.15s ease;
}

.brand a:hover,
nav a:hover,
footer a:hover {
    color: var(--nav-accent);
}

main {
    padding: 24px;
}

@media (min-width: 950px) {
    html {
        background-color: var(--light);
    }

    main {
        margin-left: var(--nav-width, 260px);
    }
}