---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";

import { getCollection } from "astro:content";
// const projects = await getCollection("projects");

const projects = (await getCollection("projects"))
  .sort((a, b) => (a.data.order ?? 99) - (b.data.order ?? 99));
---

<Layout>
	<div class="bio">
		<p>
			Nico is a New York based <b>interactive designer</b> focused on <span
				class="ani">web 🌐, product 📦, and UX 🧭</span
			> design. He is studying
			<b>Computer Science</b> and <b>Media Studies</b> at Hunter College and
			will graduate in December 2026.
		</p>
	</div>

	<div class="works">
		{projects.map((p) => <ProjectCard project={p} />)}
	</div>
</Layout>

<style>
	.bio p {
		line-height: 1.5rem;
		margin: 0px 0px 24px 0px;
	}
	.bio b {
		font-family: "Stack Sans Headline", system-ui, sans-serif;
	}

	/* .works {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
		margin: 0 auto;
	} */

	.works {
		/* display: grid;
		grid-template-columns: 1fr;
		gap: 30px;
		margin: 0 auto; */
		columns: 1;
		column-gap: 30px;
	}

	.works > :global(*) {
		break-inside: avoid;
		margin-bottom: 30px;
	}

	@media (min-width: 728px) {
		/* .bio {
			display: none;
		} */
		.works {
			columns: 2;
		}
	}

	@media (min-width: 950px) {
		.bio {
			display: none;
		}
		.works {
			columns: 2;
		}
	}

	/* @media (min-width: 900px) {
		.bio {
			display: none;
		}
		.works {
			columns: 2;
		}
	} */
</style>
