---

---

<footer>
    <!-- <p class="big">Nico Bautista-Libreros</p> -->
    <div class="brand">
        <p>
            <span class="first-name">NiCO</span>
            <br />
            <span class="last-name">BAUTiSTA-LiBREROS</span>
        </p>
    </div>

    <pre
        class="bio-ascii">
        _
       (c).-.
hi  .-" , _( )____)
        </pre>

    <ul class="socials">
        <li>
            <a
                href="https://github.com/nbaulib"
                aria-label="GitHub"
                target="_blank"
            >
                <img src="src/assets/github.svg" alt="" />
            </a>
        </li>
        <li>
            <a
                href="https://www.linkedin.com/in/nicobaulib"
                aria-label="LinkedIn"
                target="_blank"
            >
                <img src="src/assets/linkedin.svg" alt="" />
            </a>
        </li>
    </ul>

    <p class="footer-meta">
        Made with <a href="https://astro.build" target="_blank">Astro</a>
    </p>
</footer>

<style>
    footer {
        display: flex;
        width: 100%;

        padding: 2rem;
        background-color: var(--dark);
        color: var(--light);
        flex-direction: column;
    }

    footer a {
        color: var(--light);
    }

    .brand p {
        font-family: "Stack Sans Notch", system-ui, sans-serif;
        font-weight: 500;
        letter-spacing: -0.01em;
        font-size: 1.25rem;
        line-height: 0;
    }

    span.first-name {
        font-weight: 600;
        font-size: 4rem;
    }

    span.last-name {
        font-weight: 600;
        font-size: 1rem;
        line-height: 2.5rem;
    }

    .bio-ascii {
        /* font-family: monospace; */
        font-size: 0.85rem;
        /* line-height: 1; */
    }

    .socials {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 0.5rem;
        /* justify-content: center; */
    }
    /*  */
    .socials img {
        width: 38px;
        height: 38px;
        display: block;

        filter: invert(1); /* makes black SVGs white */
        transition: opacity 0.15s ease;
    }

    .socials a:hover img {
        opacity: 0.8;
    }

    .footer-meta {
        font-size: 0.9rem;
        /* text-align: center; */
    }

    @media (min-width: 900px) {
        footer {
            display: none;
        }
    }
</style>
