---

---

<footer>
    <p class="big">Nico Bautista-Libreros</p>

    <ul class="socials">
        <li>
            <a href="https://github.com/nbaulib" aria-label="GitHub" target="_blank">
                <img src="src/assets/github.svg" alt="" />
            </a>
        </li>
        <li>
            <a
                href="https://www.linkedin.com/in/nicobaulib"
                aria-label="LinkedIn" target="_blank"
            >
                <img src="src/assets/linkedin.svg" alt="" />
            </a>
        </li>
    </ul>

    <p class="footer-meta">
        Made with <a href="https://astro.build" target="_blank">Astro</a>
    </p>
</footer>

<style>
    footer {
        display: flex;
        width: 100%;

        padding: 2rem;
        background-color: #000000;
        color: #f8fdef;
        flex-direction: column;
    }

    footer a {
        color: #f8fdef;
    }

    .socials {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 1rem;
        justify-content: center;
        
    }
    /*  */
    .socials img {
        width: 38px;
        height: 38px;
        display: block;

        filter: invert(1); /* makes black SVGs white */
        transition: opacity 0.15s ease;
    }

    .socials a:hover img {
        opacity: 0.8;
    }

    .big {
        font-family: "Stack Sans Notch", system-ui, sans-serif;
        font-size: 90px;
        padding: 27px 0px 42px 0px;
        margin: 0rem;
        font-weight: 900;
        line-height: 2rem;

        text-align: center;

        color: #ffffff;
        text-shadow:
            -0px 15px 0px #a7a6a6,
            -0px 30px 0px #747373;
    }

    .footer-meta {
        font-size: 0.9rem;
        text-align: center;
    }
</style>
