---

---

<footer>
    <div class="footer-left">
        <img class="footer-img" src="https://placehold.co/200.png" />

        <div class="">
            <ul class="socials">
                <a href="https://www.linkedin.com/in/nicobaulib" target="_blank"
                    >LinkedIn</a
                >
                <a href="https://github.com/nbaulib" target="_blank">GitHub</a>
            </ul>
        </div>
        <p class="footer-meta">
            Made with <a href="https://astro.build" target="_blank">Astro</a>
        </p>
    </div>

    <div class="footer-right">
        <!-- <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
        </p> -->
        <p>Nico Bautista-Libreros</p>
        <!-- <p>Nico Bautista-Libreros</p> -->
        <!-- <p>Nico Bautista-Libreros</p> -->
    </div>
</footer>

<style>
    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 2rem;
        background-color: black;
        color: #f8fdef;

        /* gap: 1rem; */
    }

    footer a {
        color: #f8fdef;
    }

    .socials {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 1rem;
    }

    .footer-right p {
        font-family: 'Stack Sans Notch', system-ui, sans-serif;
        font-size: 80px;
        padding: 0;
        margin: 0rem;
        font-weight: 900;
        line-height: 2rem;

        color: #ffffff;
        text-shadow:
            -0px 10px 0px #a7a6a6,
            -0px 20px 0px #747373;
    }

    .footer-meta {
        font-size: 0.9rem;
    }
</style>
