---
import { Image } from "astro:assets";
import logo from "../assets/nicoLogos.png";
---

<footer>
    <div class="brand">
        <Image src={logo} alt=" Nico Bautista-Libreros logo" />
    </div>

    <div class="links">
        <a href="/">Works</a>
        <a href="/teaching">Teaching</a>

        <a href="https://linkedin.com/in/nbaulib" target="_blank">LinkedIn</a>
        <a href="https://github.com/nbaulib" target="_blank">GitHub</a>
    </div>
</footer>

<style>
    footer {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        width: 100%;
        padding: 1.5rem;

        background-color: var(--dark);
        color: var(--light);
    }

    .brand img {
        width: 100%;
        max-width: 160px;
        height: auto;
        object-fit: cover;
    }

    .links {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    /* tablet and up */
    @media (min-width: 600px) {
        footer {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        .links {
            text-align: right;
        }
    }

    /* desktop and up */
    @media (min-width: 900px) {
        footer {
            /* padding: 2rem 3rem; */
            display: none;
        }
}
</style>
