---
import type { ImageMetadata } from "astro";

interface ImageItem {
  src: ImageMetadata;
  alt: string;
}

interface Props {
  images: ImageItem[];
}

import { Image } from "astro:assets";
const { images } = Astro.props;
---

<div class="image-row">
  {images.map((img) => <Image src={img.src} alt={img.alt} />)}
</div>

<style>
  .image-row {
    display: flex;
    min-width: 0;
    width: 100%;
    margin: 2rem auto;
    gap: 0.5rem;
  }
  
  .image-row img {
    flex: 1;
    min-width: 0;
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    display: block;
  }

  /* image goes outside the screen fix */
  @media (max-width: 600px) {
    .image-row {
      flex-direction: column;
    }
  }
</style>