---

---

<div class="menu-overlay">
    <!-- <div id="main-menu" class="nav-links">
        <a href="/design">Design</a>
        <a href="/web">Web</a>
        <a href="/teaching">Teaching</a>
    </div> -->
    <!-- <div class="social-links">
        <a href="/">LinkedIn</a>
        <a href="/">GitHub</a>
    </div> -->
    <!-- <div id="main-menu" class="nav-links">
        <a href="/design">Works</a>
        <a href="/teaching">Teaching</a>
    </div> -->
</div>

<div class="nav">
    <div class="logo-area">
        <a href="index.html">
            <div class="brand-text">Nico Bautista-Libreros</div>
        </a>
    </div>

    <div class="nav-link-area">
        <a href="/design">Works</a>
        <a href="/teaching">Teaching</a>
    </div>
</div>

<style>
    .nav {
        display: flex;
        justify-content: space-between;
        background-color: black;
        padding: 7px 24px;
    }

    .brand-text {
        font-weight: 400;
    }

    .nav-link-area {
        display: flex;
        gap: 20px;
    }

    a {
        color: #f8fdef;
        text-decoration: none;
    }

    a:hover {
        color: aqua;
    }

</style>
