---
import Header from "../components/Header.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preload" href="/node_modules/@fontsource/stack-sans-text/files/stack-sans-text-latin-400-normal.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="preload" href="/node_modules/@fontsource/stack-sans-notch/files/stack-sans-notch-latin-400-normal.woff2" as="font" type="font/woff2" crossorigin>
		<title>Nico Bautista-Libreros</title>
	</head>
	<body>
		<Header />
		<slot />
		<script>
			import "../scripts/menu.js";
		</script>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
