---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <title>{frontmatter.title} — Nico Bautista-Libreros</title>
  </head>
  <body>
    <Nav />

    <main>
      <a href="/">Back</a>
      <h1>{frontmatter.title}</h1>
      {frontmatter.author && <p class="meta">By {frontmatter.author}</p>}
      {frontmatter.date && <p class="meta">Written on: {frontmatter.date}</p>}

      <slot />
    </main>

    <Footer />
  </body>
</html>

<!-- <style>
  main {
    padding-bottom: 24px;
    font-family:
      ui-sans-serif,
      system-ui,
      -apple-system,
      Segoe UI,
      Roboto,
      Helvetica,
      Arial;
  }
  .meta {
    color: #555;
    font-size: 0.9rem;
    margin: 0.25rem 0;
  }
  @media (min-width: 1100px) {
    main {
      padding: 48px 120px 64px;
    }
  }
</style> -->
<style>
  main {
    font-family:
      ui-sans-serif,
      system-ui,
      -apple-system,
      Segoe UI,
      Roboto,
      Helvetica,
      Arial;
    color: var(--dark);
    padding-bottom: 24px;
  }

  h1 {
    font-size: 2.4rem;
    line-height: 1.1;
    letter-spacing: -0.02em;
    margin: 16px 0 12px;
  }

  a {
    color: inherit;
  }

  .meta {
    font-size: 0.85rem;
    line-height: 1.4;
    color: #666;
    margin: 0.25rem 0;
  }

  /* markdown body styling */
  main :global(p) {
    font-size: 1.05rem;
    line-height: 1.75;
    margin: 0 0 1.2rem;
  }

  main :global(h2) {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    letter-spacing: -0.01em;
  }

  main :global(h3) {
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: #333;
  }

  main :global(ul) {
    padding-left: 1.2rem;
    margin-bottom: 1.5rem;
  }

  main :global(li) {
    padding: 0.2rem 0;
    /* font-size: 0.95rem; */
    line-height: 1.6;
    /* color: #666; */
  }

  @media (min-width: 950px) {
    main {
      padding: 48px 120px 64px;
    }
  }
</style>